* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-spacing: 3px;
}

p {
    color: #FFFFFFEB;
}

body {
    background: #000;
}

h1, h2, h3, h4, h5, h6, p {
    color: #FFF;
}
 
code {
    color: #b2b2b2;
}

blockquote {
    border-left: 5px solid #1f6e1d36;
    background: #9898981C;
    padding: 10px;
    border-radius: 5px;
}

blockquote p {
    margin: 0!important;
}

blockquote {
    margin-bottom: 1em;
}
